################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/EmployeeTrackingSystem/.vs/EmployeeTrackingSystem
/src/EmployeeTrackingSystem/BuildingBlocks/obj
/src/EmployeeTrackingSystem/BuildingBlocks.Messaging/obj
/src/EmployeeTrackingSystem/YarpApiGateway/obj
/src/EmployeeTrackingSystem/.vs/ProjectEvaluation
/src/EmployeeTrackingSystem/EmployeeTrackingSystemVerticalSlicingWithCQRS/obj
/src/EmployeeTrackingSystem/EmployeeTrackingSystemVerticalSlicingWithCQRS/bin
